/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo para el encabezado */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  form label,
  form input,
  form select,
  form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form select,
  form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Estilo para la tabla de inventario */
  #inventario, #ventas {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #inventario th,
  #inventario td,
  #ventas th,
  #ventas td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  #inventario th, #ventas th {
    background-color: #4CAF50;
    color: white;
  }
  
  #inventario tr:nth-child(even), #ventas tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .phone-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .phone-table th, .phone-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .phone-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .phone-table tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  