/* Fuente */
body {
  font-family: Arial, sans-serif;
}

/* Colores principales */
h1 {
  color: #0d1102;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 100px; /* Espacio para la imagen de la empresa */
}
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  max-width: 100%;
  height: auto;
}

/* Formulario de agregar teléfono */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: #8e8e8e;
  padding: 20px;
  border-radius: 10px;
}

label {
  font-weight: bold;
  color: #fefefe;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2; /* Nuevo color de fondo */
}

input[type="submit"] {
  background-color: #aeea00;
  color: #0d1102;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #8abf00;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #e8e8e8;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #aeea00;
  color: #0d1102;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Nuevo color de fondo */
}

/* Mensajes de alerta */
.alert {
  margin: auto;
  max-width: 600px;
  background-color: #f44336;
  color: #fefefe;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Nuevos colores */
.form-title {
  color: #8e8e8e;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
  color: #555;
}

.input-error {
  border: 1px solid #f44336;
}

.input-error-message {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
}

.input-success {
  border: 1px solid #4CAF50;
}

.input-success-message {
  color: #4CAF50;
  font-size: 12px;
  margin-top: 5px;
}